<p style="font-size: 15px">
<b>{{ checkin.beer.beer_name }}</b> by {{ checkin.brewery.brewery_name }}
<br>
at <b>{{ checkin.venue.venue_name }}!</b> {% if checkin.venue.location.venue_address %}({{ checkin.venue.location.venue_address }}) {% endif %}
<br>
<a href="https://untappd.com/c/{{ checkin.checkin_id }}">Untappd Link</a>
</p>