<b>«{{ checkin.beer.beer_name }}»</b> by {{ checkin.brewery.brewery_name }} checkin at <b>{{ checkin.venue.venue_name }}!</b> ({{ checkin.venue.location.venue_address }})
<a href="https://untappd.com/beer/{{ checkin.beer.bid }}">Untappd link</a>